/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
/* You can add global styles to this file, and also import other style files */


#map{
  width: 100%;
  height: 500px;
}
=======


#map{
    width: 100%;
    height: 500px;
}
>>>>>>> 74c619557f1a7709d4dc2112e8e50385e2ec108c
